# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
<li>Phyton</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>Pandas</li>
<li>NumPy</li>
<li>TensorFlow</li>
</ol>

### Data Science Tools

| Herramientas |
|--------------|
| Anaconda     |
| Apache Hadoop|
| IBM Watson   |

### Below are a few examples of evaluating arithmetic expressions in Python.
This a simple arithmetic expression to mutiply then add integersg.

In [7]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [9]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

<b>Objectives: </b>
List popular languages for data science:
<ul>
<li>Phyton<m/li>
<li>SQL</li>
<li>R</li>
<li>julia</li>
<li>MatLab</li>
</ul>

## Author

Jeremy Valenciano